@font-face {
  font-family: "Oleo";
  src: url("fonts/OleoScriptSwashCaps-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.home {
  background-color: #f3f4f6;
  height: 100vh;
  width: 100%;
}

.app {
  padding-top: 150px;
}
.main {
  width: 100vw;
   margin-top: -60px; 
}

.modal {
  z-index: 5400;
}

.jodit {
  text-align: left;
}

.app-logo {
  width: 120px;
  height: 55px;
  object-fit: cover;
}

@media only screen and (min-width: 576px) {
  .main {
     margin-top: -55px; 
  }
  .app-logo {
    width: 130px;
    height: 60px;
  }
}

@media only screen and (min-width: 769px) {
  .main {
    margin-top: -27px; 
 }
  .app-logo {
    width: 175px;
    height: 80px;
  }
}