@font-face {
  font-family: "Oleo";
  src: url("fonts/OleoScriptSwashCaps-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.home {
  background-color: #f3f4f6;
  height: 100vh;
  width: 100%;
}

.app {
  padding-top: 150px;
}
.main {
  width: 100vw;
   margin-top: -50px; 
}

.modal {
  z-index: 5400;
}

.jodit {
  text-align: left;
}