.members-card__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 470px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;


    & > * {
        display: block;
    }
}
