<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome email</title>
  </head>
  <body>
    <h1>Welcome {{userName}}!</h1>
    <p>Thanks for signup on our application</p>
    <p>We hope you enjoy its content</p>
    <p class="signature">Lets-meet-up team</p>
  </body>
</html>