.restrictions-adding-button {
    width: 40px;
    height: 40px;
    font-size: 10px;
}
.restriction-li {
    height: 30px;
    margin: 1px;
    font-size: 13px;

    .restricion-delete-btn {
        height: 80%;
        width: 5px;

        & > * {
            width: 60%;
            height: 50%;
        }
    }
}