.reset-page-form {
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;

    * {
        margin-bottom: 5px;
    }

    h2 {
        color: orangered;
        font-weight: bold;
        font-size: 26px;
        margin-bottom: 20px;
    }

    button {
        height: 40px;
        padding: 10px;
        background-color: orange;
        border-radius: 5px;
        margin-bottom: 25px;
        font-size: 15px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: .3s all;
        
        &:hover {
            background-color: orangered;
        }
    }

    a {
        color: tomato;
        font-weight: bold;
        font-size: 12px;
    }
}